<h1>About</h1>
<h2>Vintage clothing allows the aesthetic of the past to be brought into the present.</h2> 
<h2>Vintage Voyage allows the aesthetic of the past to be traded anywhere in the world. </h2>
<h2>Join now and connect with fellow vintage lovers around the world today. </h2>

