<h1>Vintage Voyage</h1>
<p>Classic looks from the past to the present.</p>

<images>
  <% @firstsix.each do |product| %>
      <div>
         <h2> <%= product.product_type %></h2><br/>
         <h3>$<%= product.price %></h3><br/>

        <%= link_to product_path(product) do %>
         <%= image_tag product.image_url(:medium) %>
        <% end %>

          
      </div>    
  <% end %>
</images>
