/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* nav {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
} */

* {
    font-family: 'Martel', serif;

}
html, body {
    margin: 0;
    padding: 0;
    background-color: #CAD0B0;
    display: grid;
    grid-template-columns: 3fr;
}

images {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: #4B1B06;
}

p {
    text-align: center;
    font-family: 'Martel', serif;
    color: #4B1B06;
}

#wrapper {
    grid-column-start: 1/2;
}

.topnav {
    background-color: #4B1B06;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    font-family: 'Old Standard TT', serif;


}

/* Style the links inside the navigation bar */
.topnav li {
    /* float: left; */
    /* text-align: center; */
    padding: 14px 16px;
    font-size: 25px;
    color: #F7E2B7;
}

.block {
    display: inline-block;
    text-align: center;
}

.contact-form {
    display: inline-block;
    text-align: center;
}

label {
    display: block;
  }
